@font-face {
  font-family: "iconfont"; /* Project id 3176227 */
  src: url('iconfont.woff2?t=1644482581560') format('woff2'),
       url('iconfont.woff?t=1644482581560') format('woff'),
       url('iconfont.ttf?t=1644482581560') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-yanzhengmamima:before {
  content: "\e6ba";
}

.icon-weixin:before {
  content: "\e630";
}

.icon-password:before {
  content: "\e75b";
}

.icon-user1:before {
  content: "\e682";
}

.icon-sina:before {
  content: "\e631";
}

